cp <- college.perf.csv
cp$Perf <- ordered(cp$Perf, levels = c("Low", "Medium", "High"))

cp$Pred <- ordered(cp$Pred, levels = c("Low", "Medium", "High"))

Tabla <-  table(cp$Perf,cp$Pred, dnn = c("Actual", "Predecido"))

Tabla

prop.table(Tabla)

round(prop.table(Tabla, 1)*100,2)
